[user]
	name = shell32
	email = hi@shell32.net

[init]
	defaultBranch = main

[commit]
	verbose = true
	gpgSign = true

[user]
	signingkey = 0xACEF020378E01314

[gpg]
	program = C:\\Users\\shell32\\scoop\\apps\\gpg\\current\\bin\\gpg.exe 
